.heading{
    display: flex;
    justify-content: center;
    align-items: center;

}

.heading div{
    background-color: rgb(169, 169, 169);
    height: 1px;
    width: 30vw;
}

.heading p{
    margin: 3vmax;
    font-size: 2.5vmax;
    font-weight: 100;
}