.prenav{
    background-color: rgb(29, 28, 28);
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: white;
    /* text-decoration: none; */
    }

.prenav div{
    padding: 0vmax 4vmax;
    display: flex;
    align-items: center;
}

.prenav div span{
    color: rgba(180,180,180,.644);
    font-size: 0.8vmax;
    font-weight: 100;
}

.prenav div a{
    color: rgb(180,180,180);
    font-size: 0.9vmax;
    font-weight:300 ;
    text-decoration: none;
    margin: 1vmax;
}

.prenav div a:hover{
    color: white;
}

.prenav div svg{
    fill: rgb(180,180,180);
    height: 1.5vmax;
}

.prenav div svg:hover{
    fill: white;
}

#cart{
    display: flex;
    align-items: center;
}